@font-face {
  font-family: Sahel;
  src: url('../global/fonts/Sahel.eot');
  src: url('../global/fonts/Sahel.eot?#iefix') format('embedded-opentype'),
       url('../global/fonts/Sahel.woff') format('woff'),
       url('../global/fonts/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('../global/fonts/Sahel-Bold.eot');
  src: url('../global/fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
       url('../global/fonts/Sahel-Bold.woff') format('woff'),
       url('../global/fonts/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../global/fonts/Sahel-Black.eot');
  src: url('../global/fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
       url('../global/fonts/Sahel-Black.woff') format('woff'),
       url('../global/fonts/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}
